<!doctype html>
<html>
<head>

    {% block styles %} 

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="{{url_for('.static', filename='base.css')}}">

    {% endblock %}

    <title>{% block title %} Home {% endblock %}</title>
</head>


<body>
  <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light static-top mb-5 shadow">
      <div class="container">
        <a class="navbar-brand" href="#">Cyclone Detection</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{{url_for('index')}}">Home</a>
            </li>
           
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('register')}}">Register</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  
     <div class="container">

     {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <div class="alert alert-info" role="alert">
            {{message}}
          </div>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    </div>

    {% block content %} 

   

    <!-- Page Content -->
    <div class="container">
      <div class="card border-0 shadow my-5">
        <div class="card-body p-5" style="background-color: rgb(112, 109, 104); color: whitesmoke;">

          <h1 class="fw-light">Live Cyclone monitoring...</h1>
         
            <div class="card-columns d-flex justify-content-center">
                <div class="card border-0 p-5 shadow monitor">
                  <div class="card-block">
                    <h4>Original vedio</h4>
                    <video width="400" height="300" controls>
                      <source src="{{url_for('static', filename='test.webm')}}">
                      Can't load the video.
                    </video>
                  </div>
                </div>
                <div class="card border-0 p-5 shadow monitor">
                  <div class="card-block">
                    <h4>Monitered vedio</h4>
                    <video width="400" height="300" controls>
                      <source src="{{url_for('static', filename='test.webm')}}">
                      Can't load the video.
                    </video>
                  </div>
                </div>
              </div>
          </div>
       
      </div>
    </div>

    {% endblock %}


    {% block scripts %} 
  
     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    {% endblock %}


</body>
</html>